.Primary_but{
    text-decoration: none;
    cursor: default;
    background-color: blue;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
}

.Secondary_but{
    text-decoration: none;
    cursor: default;
    background-color: gray;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
}

.Success_but{
    text-decoration: none;
    cursor: default;
    background-color: green;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
}

.danger_but{
    text-decoration: none;
    cursor: default;
    background-color: red;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
}

.Warning_but{
    text-decoration: none;
    cursor: default;
    background-color: yellow;
    color: black;
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
}

.info_but{
    text-decoration: none;
    cursor: default;
    background-color: lightskyblue;
    color: black;
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
}

.Light_but{
    text-decoration: none;
    cursor: default;
    background-color: lightcyan;
    color: black;
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
}

.Dark_but{
    text-decoration: none;
    cursor: default;
    background-color: black;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
}

.link {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
    background-color: transparent;
    border: none;
}